<%= form_for(@article, html: {multipart: true}) do |form| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.label :tag_list %><br />
    <%= form.text_field :tag_list %>
  </p>

  <p>
    <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br />
    <% end %>
    <%= form.label :image, "Attach an image" %>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
